body {
    font-family:Verdana
}

header{
    text-align: center;
    background-color: #E9F6FF;

}

header h1{
    background-color: #F8E559;
    color:#332941;
}

header h4{
    margin-top: 10px;
    color:#864AF9;
}

header p{
    margin-top: -10px;
    padding-bottom: 20px;
    font-size: x-small;
}

#squareSide{
    outline:none;
    border-radius: 16px;
    border-color: #3B3486;
    padding: 10px;
}

#squareSide:focus{
border-color: #F8E559;
}
.inputsection{
    display:flex;
    flex-direction:column;
}

div {
    margin-top: 50px;
    /* text-align: center; */
}

div.mainbody {
    background-color: #FFFFE4;
    border-radius: 20px;
    border-width: 2px;
    border-color: #332941;
    border-style:solid;
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;

}

button {
    background-color: #F8E559;
    border-radius: 16px;
    outline: none;
    padding:10px 40px;
    cursor: pointer;
}

button:hover {
    background-color:#3B3486;
}

button:active {
background-color: #332941;
transform: translateY(10px)
}

#squareImage {
    max-width: 150px;
    max-height: 150px;
    display: block;
    margin: 0 auto; 
  }

  #rumus {
    text-align: center;
  }

  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }


#countbutton {
}

#resetbutton {
    background-color: #FE7A36;
  }

  #resetbutton:hover {
    background-color: #3B3486;;
  }

  #resetbutton:active {
    background-color: #332941;
    transform: translateY(10px)
    }

#rumus {
    background-color: #FE7A36;
}